body {
  padding: 20px;
  max-width: 777px;
  margin: 0 auto;
}

#tradition-focus-problem *:focus {
  outline: 4px solid red;
  outline-offset: 3px;
}

#key-only-focus *[data-focustype="key"]:focus {
  outline: 4px solid red;
  outline-offset: 3px;
}

#mouse-only-focus *[data-focustype="mouse"] {
  outline: 4px solid red;
  outline-offset: 3px;
}

#unknown-only-focus *[data-focustype="unknown"]:focus {
  outline: 4px solid red;
  outline-offset: 3px;
}

